.cabeçalho__menu-hamburguer{
    width: 40px;
    height: 40px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    text-transform: uppercase;
    font-weight: 700;

}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo {
    display: none;
}

.opções{
    display: none;
}

/* .opções__item{
    display: none;

} */

.opções__botão{
    display: none;
}
/* media queries, define alterações com base na resolução de tela */
@media screen and (min-width: 1024px) {
    
    .container__titulo, .container__titulo__negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    
    .container__titulo {
        display: block;
        font-weight: 400;
        }

    .container__titulo__negrito {
        /* display: inline-block; */
        font-weight: 700;
        }

        .opções{
            display: flex;
        }
        
        .opções__item{
            /* display: block; */
            padding: 1em;
            font-size: 16px;
            font-family: var(--fonte-primaria);
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--preto);
        }


    .container__favoritos__transparente, .cabeçalho__menu-hamburguer{
        display: none;
    }
    
    .opções__botão:checked ~.lista-menu{
        display: block;
    }

    .lista-menu{
        width: fit-content;
    }
}

